body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #24F2FF, #9A1AFF, #24F2FF);
    font-family: 'Arial', sans-serif;
}

.container {
    background: #ffffff;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #e1e1e1;
}

.header-left {
    display: flex;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    fill: #FFC107;
}

.header-info {
    margin-left: 10px;
}

.header-info h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.header-info p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.quiz {
    padding: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: #f9f9f9;
}

.button {
    padding: 10px 20px;
    background: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background: #9A1AFF;
}

.button:active {
    background: #7c877f;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}